*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

li{
    list-style: none;
}
.nav{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1.2px solid gray;

}
.container{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding-top: 1.4px;
    padding:0 2rem;
}
.one img {
    margin-top: 1rem;
} 
.two-three{
    display: flex;
    /* width: 50%; */
}
.two{
    width: 35%;
    display: flex;
}
.search{
    display: none;
}
.icons{
    display: flex;
    margin-top: 2rem;
}
.icons div{
    padding-left: 1.5rem;
}
.profile{
   width: 3rem;
   height: 3rem;
   border-radius: 30px;
   border: 1.5px solid gray;  
}
@media only screen and (min-width: 180px) and (max-width: 380px)  {

    .one{
        display: none;
    }  
    .icons{
        justify-content: center;
        margin-right: -10rem;
    }
}
@media screen and (min-width: 640px) {
.two-three{
    width: 90%;
    justify-content: flex-end;
}
.icons{
   justify-content: flex-end;
   margin-top: 1.7rem;
}
.two{
    width: 50%;
}
.search{
    display: flex;
    visibility: visible;
    border: none;
 }
 .search input{
    background: url('../images/search.svg');
    background-repeat: no-repeat;
    background-position: left ;
    padding: .95rem;
    padding-left: 3rem;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 8px ;
    outline: none;
    align-self: center;
    width: 35vw;
    background-color: rgb(239, 239, 239);
}
}
@media screen and (min-width: 973px) {
    .container{
        /* width: 80%; */
        height: 60px;
    }
    .one{
        margin-left: 15rem;
    }
    .two{
        justify-content: center;
    }
    .two-three{
     justify-content: center;
    }
    /* .two .three{
        width: 20%;
        justify-content: center;
    } */
    .search{
     width: 25vw;
    }
    .search input{
        height: 35px;
    }
    .icons{
      margin-top: 1.7rem;
      justify-content: flex-end;
    }
}